// variables para las media querys
$mobile:360px;
// La de tablet en este caso no hace falta pero es para ejemplo para cuando si
$tablet:361px;
$laptop:1024px;
$desktop:1400px;

// Un mixin en sass es una funcion
@mixin mobile {
  @media screen and (max-width: $mobile) {
    // content es para indicar que los estilos de la funcion se coloquen aqui
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop){
    @content;
  }
}