body{
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
  font-family: $main-font, 'sans-serif';

  // para llamar los estilos del mixin se usa la palabra include y el nombre del mixin
  @include laptop{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 60px 1fr;
  }
}
