nav#main-menu.main-menu
  ul#main-menu.main-menu
    each page, index in pages
      li.main-menu__item
        if index===0
          a(href='/')= page
        else
          a(href=`/${page}`)= page