#register-modal.lightbox
  form#register-form.form
    .form__field
        label(for="register-name").form__label Name
        input(type="name" name="name")#register-email.form__input
    .form__field
      label(for="register-email").form__label Email
      input(type="email" name="email")#register-email.form__input
    .form__field
      label(for="register-password").form__label Password
      input(type="password" name="password")#register-password.form__input
    .form__field
      label(for="register-passwordConfirm").form__label Confirm Password
      input(type="password" name="passwordConfirm")#register-passwordConfirm.form__input
    .form__field
      input(type="submit" name="button" value="Send").form__submit 